.header img{
    max-width: 50px;
    max-height: 50px;
}
.header button{
    float: left;
}
.header{
    background-color: antiquewhite;
}
.header::after{
    content: "";
    display: table;
    clear: both;
}
.name{
    font-size: 20px;
    float: left;
    padding-top: 15px;
}
.header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.header li{
    float: left;
   padding: 20px;
}
.body-top{
    min-height: 100px;
}
.body-list ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    clear: both;
}
.body-list li{
    padding: 10px;
    float: left;
}